<div class="chair-container">
  <div class="chair-header">
    <app-banner></app-banner>
  </div>
  <div class="chair-body">
    <div *ngFor="let chair of chairs">
      <app-chair-image [chair-name]="chair.name" [image-url]="chair.imageUrl" (chair-click)="selectChair($event)"></app-chair-image>  
    </div>
    <div class="break"></div>
    <div class="chair-selection" *ngIf="selectedChair">
      You selected {{ selectedChair }}
    </div>
  </div>
  <div class="chair-footer">
    <app-banner></app-banner>
  </div>
</div>